@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Ubuntu+Condensed&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}

/* heading */

.heading{
    display:flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    position: relative;    
   /*min-height: 40vh;*/
    margin:7vh 4vw 3vh 4vw;
}

.selfPic img{
    width:220px;
    height:220px;
    border-radius: 100px;
    padding:2px;
    margin:1px auto;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;    
}

.container h1{
    font-size: 2em;
    font-weight: 700;
}
 .container h2{
    font-size: 2em;
    font-weight: 500;
}

.location{
    display: flex;
    align-items: center;
}
.location h3{
    font-size: 1.5em;
    font-weight: 400;
    color:rgb(93, 74, 74);
    padding:8px;
    margin:2px 3px;
}

.icons{
    display:flex;    
    align-items: center;
    flex-wrap: wrap;
    margin-top:15px;
}
.icons a{
    margin-right: 6px; 
    font-size: 15px;
}
.icons a:link{
    text-decoration: none;
}
.icons a:hover{
    display:title;
}

@media (min-width: 280px) and (max-width:425px){
    .heading{        
        flex-direction: column;
        justify-content: center;         
    }    
    .container{
        display:flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;        
    }
    .container h1{
        font-size: 1em;
        font-weight: 600;
    }
    .container h2{
        font-size: 1em;
        font-weight: 500;
    } 
    .location h3{
        font-size: 0.8em;
        font-weight: 400;
        padding:6px;
    }
    .location i{
        font-size: 12px;
    }
    .icons{
        margin:5px;
        justify-content: center;
    }
}
@media (min-width:540px)and (max-width:768px){
    .heading{
        display:flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
    }    
    .container{
        display:flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;        
    }
    
}
